.App{
    background: radial-gradient(circle, #2237b6 8%, #24262B 88%);
    height: 100vh;
    color: whitesmoke;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagenLogo{
    height: 200px;
    width: auto;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    margin-bottom: 20px;
}

.question-section, .answer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.puntaje-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%
}

.answer-section{
    margin-top: 20px;
}

.answer-section button{
    margin-top: 10px;
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border:none;
    transition-duration: 1s;
    font-size: 15px;
    color: black;
}

.answer-section button:active {
    transform: scale(1.5);
}

.retirarse-button {
    padding: 10px 20px;
    background-color: #f44336; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;
  }
  
.retirarse-button:hover {
    background-color: #d32f2f;
}

.retirarse-button button:active {
    transform: scale(1.5);
}
  

  .instagram-message {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .iframe {
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 20px;
    height: auto ;
  }
  
  .puntaje-section {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .question-text {
      padding: 20px;
  }