.App{
    background: radial-gradient(circle, #409E8D 8%, #24262B 88%);
    background-color: (45deg, #409E8D 8%, #24262B 88%);
    height: 100vh;
    color: whitesmoke;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.imagenLogo{
    height: 200px;
    width: auto;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    margin-bottom: 20px;
}

.question-section, .answer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.puntaje-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%
}

.answer-section{
    margin-top: 20px;
}

.answer-section button{
    margin-top: 10px;
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border:none;
    transition-duration: 0.5s;
    font-size: 15px;
}

.answer-section button:hover{
    scale: 1.1;
}